@import "tailwindcss";
@import "flowbite/src/themes/default";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #F6F0F0;
  --primary-font: 'Inter', 'Arial', sans-serif;
  --h1-size: 48px;
  --chat-replies-gap: 64px;
}

body {
  background-color: var(--background-color);
}

.background {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.prompt-container {
  width: 1038px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.h1-chat {
  font-family: var(--primary-font);
  font-size: var(--h1-size);
  font-weight: 600;
  color: black;
  text-align: center;
}

.input-first-prompt {
  width: 100%;
  border: 3px solid rgba(0,0,0,0.2);
  border-radius: 50px;
  padding: 16px 52px 16px 20px;
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: white;
}

.input-prompt {
  width: 100%;
  border: 3px solid rgba(0,0,0,0.2);
  border-radius: 50px;
  padding: 16px 52px 16px 20px;
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: white;
}

.input-first-prompt-focused{
  border: 3px solid rgba(0,0,0,0.5);
}

button {
  appearance: none;
  outline: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

textarea {
  appearance: none;
  outline: none;
  background-color: transparent;
  border: 0;
  width: 100%;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
}

textarea::-webkit-scrollbar {
  width: 8px;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.1);
  border-radius: 8px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0,0,0,0.1);
}

#prompt {
  font-family: var(--primary-font);
  font-size: 16px;
}

.icon {
  width: 32px;
  height: 32px;
}

.chat-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  overflow-x: none;
}

.question-chat-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.question-loading-container {
  width: 100%;
  overflow-y: none;
  display: flex;
  flex-direction: column;
  gap: var(--chat-replies-gap);
}

.question-chat-background {
  max-width: 493px;
  width: fit-content;
  padding: 16px 32px;
  background-color: rgba(0,0,0,0.1);
  border-radius: 50px;
}

.chat-text {
  font-family: var(--primary-font);
  color: black;
  font-size: 14px;
  line-height: 1.5;
}

.question-text {
  text-align: right;
}

.disclaimer-text {
  font-family: var(--primary-font);
  color: rgba(0,0,0,0.5);
  font-size: 13px;
  line-height: 1.5;
  text-align: center;
}

.replies-container {
  display: flex;
  flex-direction: column;
  gap: var(--chat-replies-gap);
}

.form-container-chat {
  width: 1038px;
  margin: auto;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 32px 0px;
}

.app-container {
  width: 1038px;
  padding-right: 32px;
  padding-bottom: 32px;
  margin: auto;
  margin-top: 128px;
  overflow-y: auto;
  overflow-x: none;
  min-height: 700px;
  height: auto;
  max-height: calc(100vh - 120px);
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,0.1) transparent;
}

.app-container::-webkit-scrollbar-track {
  background: transparent;
}

.app-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1) transparent;
  border-radius: 8px;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  padding: 16px;
  width: 100%;
  background-color: var(--background-color);
  z-index: 10;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  max-height: 79px;
}

.account-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.account-information-container {
  display: flex;
  align-items: center;
}

.nav-btn-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn-container {
  appearance: none;
  outline: none;
  padding: 10px 24px;
  border-radius: 16px;
  font-family: var(--primary-font);
}

.default-text {
  font-family: var(--primary-font);
  font-size: 14px;
  color: black;
}

.log-in-btn {
  background-color: black;
  color: white;
  transition: all 200ms ease-out;
}

.log-in-btn:hover {
  background-color: rgba(0,0,0,0.8);
}

.sign-in-btn {
  border: 1px solid black;
  color: black;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 200px;
  position: absolute;
  top: 112px;
}

.sidebar-links-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 16px;
}

.sidebar-link-container {
  display: flex;
  gap: 16px;
  align-items: center;
}

.subtitle-sidebar {
  font-family: var(--primary-font);
  font-size: 12px;
  color: black;
  padding: 8px 16px;
}

.chats-sidebar-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dropdown-opened {
  transform: rotate(180deg);
}

.logout-btn {
  background-color: white;
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: center;
  border-radius: 16px;
}

.account-big-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  right: 16px;
  top: 16px;
}

.active-chat-background {
  background-color: white;
}

.chat-name-box {
  padding: 8px 16px;
  border-radius: 16px;
}

.delete-chat-btn {
  background-color: white;
  white-space: nowrap;
  padding: 8px 16px;
  border-radius: 16px;
}

.search-container {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 1001;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-bar-container {
  display: flex;
  background-color: white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  width: 500px;
  padding: 16px;
  gap: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.search-all-chats-container {
  background-color: white;
  width: 500px;
  padding: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.search-all-chats-container-skeleton {
  gap: 32px;
}

.search-chats-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.search-chat-container {
  display: flex;
  gap: 16px;
}

.search-bar {
  flex: 1;
  font-family: var(--primary-font);
  font-size: 16px;
  color: rgba(0,0,0,0.5);
}

.searched-chats-background {
  background-color: white;
}

.chats-search-subtitle {
  font-family: var(--primary-font);
  font-size: 14px;
  color: rgba(0,0,0,0.5);
}

@media (min-width: 1920px) {
  .default-text {
    font-size: 16px;
    text-align: left;
  }

  .sidebar-links-container {
    gap: 16px;
  }

  .subtitle-sidebar {
    font-size: 14px;
  }
}